    <section class="cd-intro">
        <h1 class="cd-headline clip is-full-width">
          <span>Hey, I am  </span>
  			  <span class="cd-words-wrapper">
    				<b class="is-visible">Raj Das</b>
            <b>Web Dev.</b>
    				<b>Backend Dev.</b>
    				<b>Database Dev.</b>
            <b>Javascript Dev.</b>
  			  </span>
        </h1>
    </section> <!-- cd-intro -->
    <div class="cd-svg-container">
        <svg id="cd-animated-svg" version="1.1" x="0px" y="0px" width="200px" height="200px" viewBox="0 0 200 200" style="enable-background:new 0 0 200 200;" xml:space="preserve">
		<g id="cd-loading">
			<g id="cd-circle">
				<circle id="cd-loading-circle" class="cd-stroke cd-stroke-color-2" cx="100" cy="100" r="77.5"/>
				<circle id="cd-loading-circle-filled" class="cd-stroke cd-stroke-color-3" cx="100" cy="100" r="77.5" transform="rotate(-90 100 100)"/>
			</g>
			<g id="cd-play-btn">
				<rect class="cd-pointer" x="84" y="78" width="33" height="44"/>
				<polygon class="cd-fill-color-1" points="84,78 116,100 84,122 	"/>
			</g>
			<g id="cd-pause-btn" transform="translate(100 100) scale(0)">
				<rect class="cd-pointer" x="81" y="80" width="38" height="40"/>
				<rect class="cd-fill-color-1" x="81" y="80" width="11" height="40"/>
				<rect class="cd-fill-color-1" x="108" y="80" width="11" height="40"/>
			</g>
		</g>
		<g id="cd-buildings">
			<g id="cd-cloud-1" transform="translate(-80 0)">
				<line class="cd-stroke cd-stroke-color-2" x1="5" y1="13" x2="29" y2="13"/>
				<line class="cd-stroke cd-stroke-color-2" x1="35" y1="13" x2="44" y2="13"/>
				<line class="cd-stroke cd-stroke-color-2" x1="72" y1="27" x2="14" y2="27"/>
			</g>
			<g id="cd-cloud-2" transform="translate(70 0)">
				<line class="cd-stroke cd-stroke-color-2" x1="191" y1="68" x2="159" y2="68"/>
				<line class="cd-stroke cd-stroke-color-2" x1="153" y1="68" x2="144" y2="68"/>
				<line class="cd-stroke cd-stroke-color-2" x1="179" y1="83" x2="133" y2="83"/>
			</g>
			<g id="cd-home-3">
				<polygon id="cd-home-3-roof" class="cd-stroke cd-stroke-color-1" points="59.4,55 95,15 130.6,55" transform="translate(0 20)"/>
				<rect id="cd-home-3-base" class="cd-stroke cd-stroke-color-1" x="66" y="54" width="58" height="0" transform="rotate(180 95 116)" data-height="124"/>
				<circle id="cd-home-3-window" class="cd-stroke cd-stroke-color-1" cx="95" cy="77" r="11" transform="translate(95 77) scale(0)"/>
			</g>
			<g id="cd-home-2">
				<rect id="cd-home-2-base" class="cd-stroke cd-stroke-color-1" x="98" y="132" width="70" height="0" transform="rotate(180 133 155)" data-height="46"/>
				<rect id="cd-home-2-roof" class="cd-stroke cd-stroke-color-1" x="98" y="122" width="0" height="10" data-width="70"/>
				<rect id="cd-home-2-door" class="cd-stroke cd-stroke-color-1" x="141" y="156" width="16" height="0" transform="rotate(180 149 167)" data-height="22"/>
				<rect id="cd-home-2-window" class="cd-stroke cd-stroke-color-1" x="106" y="143" width="26" height="10" transform="translate(119 148) scale(0)"/>
			</g>
			<g id="cd-home-1">
				<rect id="cd-home-1-chimney" class="cd-stroke cd-stroke-color-1" x="34" y="89" width="11" height="11" transform="translate(0 70)"/>
				<rect id="cd-home-1-base" class="cd-stroke cd-stroke-color-1" x="29" y="108" width="70" height="0" transform="rotate(180 64 143)" data-height="70"/>
				<rect id="cd-home-1-roof" class="cd-stroke cd-stroke-color-1" x="23" y="100" width="0" height="9" data-width="81"/>
				<rect id="cd-home-1-door" class="cd-stroke cd-stroke-color-1" x="53" y="150" width="20" height="0" transform="rotate(180 63 164)" data-height="28"/>
				<rect id="cd-home-1-window" class="cd-stroke cd-stroke-color-1" x="53" y="121" width="20" height="18" transform="translate(63 130) scale(0)"/>
			</g>
			<line id="cd-floor" class="cd-stroke cd-stroke-color-1" x1="2" y1="178" x2="2" y2="178" data-x="198"/>
		</g>
	</svg>
    </div> <!-- cd-svg-container -->
<footer>
    <div class="social">
    	<a href="https://www.facebook.com/itsrajdas" title="Follow Raj Das on facebook" target="_blank"><img class="follow-logo" src="/images/facebook.svg" alt="Raj Das"></a>
    	<a href="https://www.twitter.com/itsrajdas" title="Follow  Das on twitter" target="_blank"><img class="follow-logo" src="/images/twitter.svg" alt="Raj Das"></a>
    	<a href="https://in.linkedin.com/in/iamrajdas" title="Follow Raj Das on linkidIn" target="_blank"><img class="follow-logo" src="/images/linkid.svg" alt="Raj Das"></a>
    	<a href="https://www.github.com/iamrajdas" title="Follow Raj Das on github" target="_blank"><img class="follow-logo" src="/images/github.svg" alt="Raj Das"></a>
    	<a href="https://www.instagram.com/imrajdas" title="Follow Raj Das on instagram" target="_blank"><img class="follow-logo" src="/images/instagram.svg" alt="Raj Das"></a>
    	<a href="mailto:mail.rajdas@gmail.com" title="Send an email to Raj Das" target="_blank"><img class="follow-logo" src="/images/mail.svg" alt="Raj Das"></a>
    	</ul>
    </div>
</footer>
